@import url('http://fonts.cdnfonts.com/css/fogtwono5');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'FogtwoNo5', sans-serif;
}
.container{
    margin: 0;
    padding: 15px;
}
@media (max-width: 800px){
    body{
        width: 100%;
        height: 100%;
        background: url('../img/fundo.jpeg') no-repeat;
        background-size: cover;
        background-position: top;
        display: block;
        margin: 0;
        margin: 0;
    }
    header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .upper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header img{
        width: 200px;
        border-radius: 100%;
        box-shadow: -15px 10px #F0ECE2;
    }
    header .lower{
        margin-top: 8px;
    }
    header .lower h1{
        color: #fff;
        font-size: 46px;
        font-weight: lighter;
        text-align: left;
        text-shadow: 0 0 0.3em #F0ECE2, 0 0 0.3em #F0ECE2;
    }
    header .lower h2{
        color: #fff;
        font-size: 26px;
        font-weight: lighter;
        text-align: center;
    }
    .list{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .list ul{
        box-sizing: border-box;
        list-style: none;
        margin: 0 auto;
    }
    .list ul li{
        background-color: #fffa;
        backdrop-filter: blur(8px);
        border-radius: 100px;
        padding: 12px 120px;
        margin: 25px auto;    
        box-shadow:  0 0 0.3em #F0ECE2, 0 0 0.3em #F0ECE2;
    }
    .list ul li a{
        text-decoration: none;
        color: #000;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        gap: 15px;    
    }
    .list ul li a ion-icon{
        color: yellow;
        font-size: 20px;
    }
    #fb{
        color: blue;
    }
    #wp{
        color: green;
    }
    #tt{
        color: rgb(0, 183, 255);
    }
    #ig{
        color: red;
    }
}
@media (min-width: 800px){
    body{
        width: 100%;
        height: 100%;
        background: url('../img/fundo.jpeg') no-repeat;
        background-size: cover;
        background-position: top;
        display: block;
        margin: 0;
        margin: 0;
    }
    header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .upper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header img{
        width: 200px;
        border-radius: 100%;
        box-shadow: -15px 10px #F0ECE2;
    }
    header .lower{
        margin-top: 8px;
    }
    header .lower h1{
        color: #fff;
        font-size: 46px;
        font-weight: lighter;
        text-align: left;
        text-shadow: 0 0 0.3em #F0ECE2, 0 0 0.3em #F0ECE2;
    }
    header .lower h2{
        color: #fff;
        font-size: 26px;
        font-weight: lighter;
        text-align: center;
    }
    .list{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .list ul{
        box-sizing: border-box;
        list-style: none;
        margin: 0 auto;
    }
    .list ul li{
        background-color: #fffa;
        backdrop-filter: blur(8px);
        border-radius: 100px;
        padding: 12px 120px;
        margin: 25px auto;    
        box-shadow:  0 0 0.3em #F0ECE2, 0 0 0.3em #F0ECE2;
    }
    .list ul li a{
        text-decoration: none;
        color: #000;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        gap: 15px;    
    }
    .list ul li a ion-icon{
        color: yellow;
        font-size: 20px;
    }
    #fb{
        color: blue;
    }
    #wp{
        color: green;
    }
    #tt{
        color: rgb(0, 183, 255);
    }
    #ig{
        color: red;
    }
}